html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "entypo";
  src: url('../fonts/entypo.eot');
  src: url('../fonts/entypo.eot?#iefix') format('eot'), url('../fonts/entypo.woff') format('woff'), url('../fonts/entypo.ttf') format('truetype'), url('../fonts/entypo.svg#entypo') format('svg');
  font-weight: "normal";
  font-style: "normal";
}

[data-icon]:before {
  font-family: 'entypo';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

@media screen {
  html {
    font-size: 100%;
    line-height: 1.5em;
  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  body {
    color: #6d6d6d;
    font-family: "PT Sans", sans-serif;
    background: url("../images/content-bg.png") #eeeeee;
  }

  form .field {
    overflow: auto;
    clear: both;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }

  input[type=radio] {
    float: left;
    line-height: 24px;
    display: inline;
    padding: 0;
    height: 24px;
    margin: 0 1.5em 0 0;
  }

  input[type=checkbox] {
    margin: 0 1.5em 0 0;
    display: inline-block;
    padding: 0;
    height: 24px;
    float: left;
    clear: both;
  }

  label, .label {
    display: inline-block;
    margin-bottom: 0.75em;
  }

  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }

  select {
    max-width: 100%;
    display: inline-block;
    margin: 0 0 1.5em 0;
  }

  input {
    padding: 0.75em;
    font-family: "PT Sans", sans-serif;
    color: #6d6d6d;
  }
  input[type=text], input[type=search] {
    border: 1px solid rgba(109, 109, 109, 0.25);
    height: 3em;
    width: 100%;
  }

  .inputs {
    vertical-align: bottom;
  }

  input[type=submit], button {
    background-color: #ffe76b;
    cursor: pointer;
    color: #e53c3c;
    display: block;
    padding: 0.375em 0.75em;
    margin: 1.5em 0;
    text-align: center;
    border: 0;
    font-size: 0.875em;
    line-height: 1.71429em;
    font-family: "PT Sans", sans-serif;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
  }

  th, td {
    vertical-align: top;
  }

  /* Links */
  a {
    text-decoration: none;
  }
  a:link {
    color: #e53c3c;
  }
  a:visited {
    color: #eb6969;
  }
  a:hover, a:active {
    color: #42c2f7;
  }

  .button {
    background-color: #ffe76b;
    display: block;
    padding: 0.75em;
    margin: 1.5em 0;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
  }

  /* -- Table -- */
  table {
    margin-top: 1.5em;
  }

  th {
    font-weight: bold;
  }

  td, th {
    border-color: #cccccc;
    border-top-style: solid;
    border-top-width: 0.0625em;
    padding-top: 0.6875em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-bottom: 0.75em;
  }

  tr:last-of-type td {
    border-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 0.0625em;
    padding-bottom: 0.6875em;
  }

  .pagination {
    display: inline-block;
    width: 100%;
    overflow: auto;
    margin: 0.75em 0;
    vertical-align: bottom;
    list-style-type: none;
    padding-left: 0;
  }
  .pagination li {
    float: left;
    font-size: 0.75em;
    line-height: 2em;
  }
  .pagination .button {
    float: left;
    margin: 0;
  }
  .pagination:empty {
    margin: 0;
    padding: 0;
  }

  .item + .pagination {
    border-color: #cccccc;
    border-top-style: solid;
    border-top-width: 0.0625em;
    padding-top: 1.4375em;
  }

  .pagination_previous a, .pagination_next a {
    line-height: 0.5em;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
  }

  .pagination > *:first-child a, .pagination > *:first-child {
    -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    -ms-border-radius: 3px 0px 0px 3px;
    -o-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
  }

  .pagination > *:last-child a {
    -webkit-border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -ms-border-radius: 0px 3px 3px 0px;
    -o-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
  }

  .page-input {
    background-color: #f7f7f7;
    text-align: center;
    padding: 0 1.5em;
  }
  .page-input input[type=text] {
    background-color: #f7f7f7;
    border: 0;
    margin: 0;
    padding: 0;
    height: auto;
    font-size: 1em;
    line-height: 1.5em;
    line-height: 0.75em;
    width: 50px;
    text-align: center;
    border-color: #ccc;
    border-bottom-style: dotted;
    border-bottom-width: 0.125em;
    padding-bottom: -0.125em;
  }

  h1 {
    font-size: 1.5em;
    line-height: 2em;
    line-height: 24px;
    font-weight: bold;
  }

  h2 {
    font-size: 1.25em;
    line-height: 1.2em;
    line-height: 24px;
    margin: 24px 0;
    font-family: 'Titillium Web', sans-serif;
  }

  h3 {
    font-size: 1.125em;
    line-height: 1.33333em;
    line-height: 24px;
    margin-bottom: 24px;
    font-weight: bold;
    color: rgba(109, 109, 109, 0.75);
    line-height: 24px;
  }

  h4 {
    font-weight: bold;
  }

  h5 {
    font-style: italic;
  }

  h6 {
    font-style: italic;
    color: rgba(109, 109, 109, 0.5);
  }

  p {
    margin-bottom: 1.5em;
  }

  ul {
    padding-left: 1.5em;
    list-style-type: disc;
  }

  a {
    text-decoration: none;
  }

  /* Responsive images */
  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  /* Header */
  header {
    background: url("../images/bg.png") #b30000;
    overflow: auto;
  }

  #site-title {
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
    padding: 1.5em 0;
    text-align: center;
  }
  #site-title a {
    color: #f8f8f8;
    display: inline-block;
    width: 100%;
  }

  #top-nav {
    display: block;
    clear: both;
    background: #2d2d2d;
    overflow: auto;
  }
  #top-nav > a {
    height: 16px;
    display: inline-block;
    padding: 10px 5px;
    width: 25px;
    overflow: hidden;
    float: right;
    position: relative;
    margin: 0.1875em 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  #top-nav > a span {
    position: absolute;
    top: 3px;
  }
  #top-nav .icon-search {
    font-size: 24px;
    line-height: 32px;
    margin-right: 1.5em;
  }
  #top-nav .icon-search [data-icon] {
    top: 6px;
    left: 10px;
  }
  #top-nav .icon-menu {
    font-size: 32px;
    vertical-align: top;
  }
  #top-nav .icon-menu [data-icon] {
    left: 7px;
  }
  #top-nav #menu-container {
    clear: both;
    padding-bottom: 0.375em;
    border-color: #3d3d3d;
    border-top-style: solid;
    border-top-width: 0.0625em;
    padding-top: 0.3125em;
  }
  #top-nav #menu-container > ul {
    clear: both;
    padding: 0;
    text-align: left;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    list-style-type: none;
  }
  #top-nav #menu-container > ul > li > a {
    color: #42c2f7;
  }
  #top-nav #menu-container > ul ul {
    text-transform: capitalize;
    padding-left: 1.5em;
    list-style-type: none;
  }
  #top-nav #menu-container > ul ul a {
    padding-left: 1.5em;
  }
  #top-nav li {
    padding: 0;
  }
  #top-nav li a {
    padding: 0.75em 1.5em;
    display: inline-block;
    width: 100%;
  }
  #top-nav a {
    color: #f8f8f8;
    letter-spacing: 1px;
    text-decoration: none;
  }

  #search-container {
    display: block;
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding: 0 1.5em 1.5em 1.5em;
    border-color: #3d3d3d;
    border-top-style: solid;
    border-top-width: 0.0625em;
    padding-top: 1.4375em;
  }
  #search-container input[type=text], #search-container input[type=submit] {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -webkit-appearance: none;
  }
  #search-container label {
    display: block;
    clear: both;
    margin-bottom: 0;
  }
  #search-container input[type=text] {
    border: 0;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    padding: 0.375em;
    height: 2.25em;
    float: left;
    width: 65%;
    margin: 0;
    vertical-align: top;
    -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    -ms-border-radius: 3px 0px 0px 3px;
    -o-border-radius: 3px 0px 0px 3px;
    border-radius: 3px 0px 0px 3px;
  }
  #search-container input[type=submit] {
    padding: 0.375em;
    line-height: 24px;
    border: 0;
    font-size: 1em;
    float: left;
    width: 35%;
    background-color: #ffe76b;
    margin: 0;
    vertical-align: top;
    -webkit-border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -ms-border-radius: 0px 3px 3px 0px;
    -o-border-radius: 0px 3px 3px 0px;
    border-radius: 0px 3px 3px 0px;
  }

  #query-types, #record-types {
    margin-bottom: 1.5em;
  }

  #record-types label {
    margin-bottom: 1.5em;
  }
  #record-types label:last-child {
    margin-bottom: 0em;
  }

  a#advanced-search {
    width: 100%;
    clear: both;
    color: #e53c3c;
    padding: 0.375em;
    display: inline-block;
    margin: 0.75em 0 0 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }

  #advanced-form {
    text-align: left;
    color: #fff;
    margin-top: 1.5em;
  }
  #advanced-form a {
    color: #e53c3c;
  }
  #advanced-form > *:last-child {
    margin-bottom: 0;
  }

  #intro {
    text-align: center;
    margin: 0;
    padding: 0 0 1.5em 0;
  }
  #intro p:only-of-type {
    margin-bottom: 0;
  }

  #featured-item {
    background-color: #606060;
    background-size: cover;
    background-position: center center;
    display: block;
    overflow: auto;
  }
  #featured-item * {
    color: #fff;
  }
  #featured-item h2 {
    margin: 0;
    font-size: 1.6875em;
    line-height: 1.77778em;
  }
  #featured-item h3 {
    margin: 0;
  }
  #featured-item a {
    color: #fff;
    font-weight: bold;
    vertical-align: bottom;
  }
  #featured-item a img {
    width: 35%;
    vertical-align: bottom;
  }
  #featured-item .item-description {
    display: none;
  }
  #featured-item .shadow {
    padding: 3em 1.5em;
  }

  .shadow {
    background-image: url("../images/gradient.png");
    background-size: contain;
    width: 100%;
    overflow: auto;
  }

  #featured-collection, #featured-exhibit {
    background-color: #2d2d2d;
    color: #f8f8f8;
    border-color: #3d3d3d;
    padding: 1.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.0625em;
    padding-bottom: 1.4375em;
  }
  #featured-collection h2, #featured-exhibit h2 {
    margin: 0;
  }
  #featured-collection h3, #featured-collection p, #featured-exhibit h3, #featured-exhibit p {
    margin: 0;
    line-height: 48px;
  }
  #featured-collection a, #featured-exhibit a {
    color: #fff;
  }
  #featured-collection .collection-description, #featured-exhibit .collection-description {
    display: none;
  }

  #home #recent-items {
    padding: 0;
    margin: 0;
  }
  #home #recent-items .items-list {
    margin: 0;
  }
  #home #recent-items h2 {
    margin: 24px 0;
  }
  #home #recent-items h3, #home #recent-items .item-description {
    margin: 0 0 24px 0;
    font-size: 1em;
    line-height: 1.5em;
  }
  #home #recent-items div {
    margin: 0;
  }
  #home #recent-items .item {
    clear: both;
    overflow: auto;
    padding: 0;
    border-color: #cccccc;
    border-top-style: solid;
    border-top-width: 0.0625em;
    padding-top: 1.4375em;
  }
  #home #recent-items .item img {
    width: 120px;
    height: auto;
    float: left;
    margin: 0 1.5em 0 0;
  }
  #home #recent-items .view-items-link {
    border-color: #cccccc;
    border-top-style: solid;
    border-top-width: 0.0625em;
    padding-top: 1.4375em;
  }
  #home #recent-items .view-items-link a {
    margin-top: 0;
  }

  [role="main"] {
    padding: 1.5em;
  }
  [role="main"] h1 {
    font-size: 1.5em;
    line-height: 2em;
    line-height: 1em;
    margin-bottom: 0.5em;
  }

  .element {
    margin-bottom: 2.25em;
  }
  .element h3 {
    margin-bottom: 12px;
  }

  .download-file img {
    height: 96px;
    vertical-align: bottom;
  }

  .collection {
    border-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 0.0625em;
    padding-bottom: 1.4375em;
  }
  .collection .view-items-link {
    margin-bottom: 0;
  }

  .collection:last-of-type {
    border-bottom-style: solid;
    border-bottom-width: 0em;
    padding-bottom: 1.5em;
  }

  .items.browse h2 {
    font-size: 1.125em;
    line-height: 1.33333em;
    line-height: 24px;
    margin: 0 0 24px 0;
  }
  .items.browse .item {
    border-color: #cccccc;
    overflow: auto;
    border-top-style: solid;
    border-top-width: 0.0625em;
    padding-top: 1.4375em;
  }
  .items.browse .item-meta {
    overflow: auto;
  }
  .items.browse .item-meta > div {
    margin-bottom: 24px;
  }
  .items.browse .item-meta .item-img {
    margin-bottom: 0;
  }

  .item-img {
    float: left;
  }
  .item-img a {
    width: 7.5em;
    margin: 0 1.5em 1.5em 0;
    display: inline-block;
    vertical-align: bottom;
  }
  .item-img img {
    width: 7.5em;
    height: auto;
    vertical-align: bottom;
  }

  .items-nav, .exhibits #secondary-nav {
    background-color: #dfdfdf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding-left: 10px;
    font-size: 0.875em;
    line-height: 1.71429em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    float: left;
    width: 100%;
    margin: 12px 0;
  }
  .items-nav ul, .exhibits #secondary-nav ul {
    list-style-type: none;
    padding-left: 0;
  }
  .items-nav li, .exhibits #secondary-nav li {
    float: left;
    margin-right: 10px;
  }
  .items-nav .active, .exhibits #secondary-nav .active {
    font-weight: bold;
  }

  .item-pagination {
    list-style-type: none;
    padding-left: 0;
  }
  .item-pagination a {
    background-color: #ffe76b;
    cursor: pointer;
    color: #e53c3c;
    display: block;
    padding: 0.375em 0.75em;
    margin: 1.5em 0;
    text-align: center;
    border: 0;
    font-size: 0.875em;
    line-height: 1.71429em;
    font-family: "PT Sans", sans-serif;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
  }

  .sort-label {
    display: none;
  }

  #sort-links-list {
    font-size: 0.875em;
    line-height: 1.71429em;
    display: inline-block;
    margin: 12px 0;
    vertical-align: bottom;
    list-style-type: none;
    padding-left: 0;
  }
  #sort-links-list li {
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #cccccc;
  }
  #sort-links-list li:last-of-type {
    border-right: 0;
  }
  #sort-links-list li.sorting {
    font-weight: bold;
  }
  #sort-links-list li.sorting a:after {
    font-family: "entypo";
    margin-left: 3px;
    line-height: 100%;
  }
  #sort-links-list li.asc a:after {
    content: "\e008";
  }
  #sort-links-list li.desc a:after {
    content: "\e007";
  }

  .hTagcloud ul {
    list-style-type: none;
    padding: 0.75em 0 0 0;
    overflow: auto;
    clear: both;
  }
  .hTagcloud ul li {
    margin: 0 0.75em 0.75em 0;
    float: left;
  }
  .hTagcloud ul li a {
    padding: 0.375em 0.75em;
    background: url("../images/bg.png") #b30000;
    overflow: auto;
    float: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }
  .hTagcloud ul li a:link, .hTagcloud ul li a:visited {
    color: #fff;
  }

  #collection-items .item {
    margin-bottom: 1.5em;
    border-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 0.0625em;
    padding-bottom: 1.4375em;
  }

  #collection-items h2 + .item {
    border-top-style: solid;
    border-top-width: 0.0625em;
    padding-top: 1.4375em;
  }

  .collections .element-set {
    margin-bottom: 2.25em;
  }

  #itemfiles {
    overflow: auto;
  }
  #itemfiles img {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 0.75em;
  }

  #advanced-search-form {
    overflow: auto;
    clear: both;
  }

  #search-filters ul {
    list-style-type: none;
    padding-left: 0;
    overflow: auto;
  }
  #search-filters ul li {
    background-color: #dfdfdf;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    float: left;
    padding: 0 5px;
    margin: 0 0.75em 0.75em 0;
  }
  #search-filters ul li ul {
    display: inline;
  }
  #search-filters ul li ul li {
    margin: 0;
    padding: 0;
    float: none;
    display: inline;
  }
  #search-filters ul li ul li:after {
    content: ", ";
  }
  #search-filters ul li ul li:last-child:after {
    content: "";
  }

  .exhibits .pagination:empty {
    margin: 0 0 1.5em;
    padding: 0;
    float: left;
  }

  .exhibit {
    clear: both;
  }

  footer nav {
    display: none;
  }

  footer[role=contentinfo] {
    font-size: 0.875em;
    line-height: 1.71429em;
    padding: 24px;
  }
}
@media screen and (min-width: 540px) {
  html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  body {
    background: #2d2d2d;
  }

  header {
    width: 38.18182%;
    margin-right: 0;
    padding: 0 1.81818%;
    background: transparent;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    max-height: 100%;
  }

  div[role=main], footer {
    width: 61.81818%;
    background: url("../images/content-bg.png") #eeeeee;
    display: inline-block;
    float: right;
  }

  div[role=main] {
    padding-bottom: 7.5em;
    min-height: 90%;
  }

  footer {
    min-height: 10%;
  }
  footer p:last-child {
    margin-bottom: 0;
  }

  #site-title {
    text-align: left;
    padding-right: 0;
  }

  #top-nav > a {
    float: none;
    padding-left: 0;
    margin-left: 0;
  }

  #top-nav .icon-search {
    margin-right: 0;
  }

  #top-nav .icon-search,
  #top-nav .icon-menu {
    display: none;
  }

  #top-nav #menu-container, #search-container {
    display: block !important;
    padding-left: 0;
    padding-right: 0;
    border-top-style: solid;
    border-top-width: 0em;
    padding-top: 0em;
  }

  #intro {
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    padding-bottom: 24px;
  }

  #top-nav li a, #top-nav #menu-container > ul ul a {
    padding-left: 0;
  }
}
@media screen and (min-width: 800px) {
  header {
    width: 25.45455%;
  }

  div[role=main], footer {
    width: 74.54545%;
    left: 25.45455%;
  }
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
