// Imports -------------------------------------------------------------------
@import "compass";
@import "compass/reset";
@import "susy";
@import "mixins";

// Compass Variables ---------------------------------------------------------

$base-font-size                 : 18px;
$base-line-height               : 24px;

// Susy Variables -------------------------------------------------------------
$total-columns: 8;
$column-width: 10%;
$gutter-width: 2%;
$grid-padding: $gutter-width;

// Colors ---------------------------------------------------------------------
$dark-grey        : rgba(0,0,0,0.7);
$light-grey       : rgba(0,0,0,0.5);
$lightest-grey    : rgba(0,0,0,0.2);

$default-color                  : #6d6d6d;
$default-color-light            : rgba($default-color, 0.75);
$default-color-lighter          : rgba($default-color, 0.5);
$default-color-lightest         : rgba($default-color, 0.25);

$highlight-color                : rgb(90,60,110);

$link-color                     : #e53c3c;
$link-color-light               : lighten($link-color, 10%);
$link-color-alternate           : #42c2f7;
$link-color-alternate-light     : lighten($link-color-alternate, 10%);

$border-shadow                  : rgba(0, 0, 0, .15);
$border-highlight               : rgba(255, 255, 255, .09);

// Fonts ---------------------------------------------------------------------
$default-font-family: "Open Sans", Verdana, sans-serif;

@include font-face(
  'MenschBoldInline',
  font-files(
    'mensch-inline-wf.woff', woff,
    'mensch-inline-wf.ttf', truetype,
    'mensch-inline-wf.svg#MenschMenschBoldInline', svg
  ),
  'mensch-inline-wf.eot',
  'normal',
  'normal'
);

@include font-face(
  'entypo',
  font-files(
    'entypo.woff', woff,
    'entypo.ttf', truetype,
    'entypo.svg#entypo', svg
  ),
  'entypo.eot',
  'normal',
  'normal'
);

[data-icon]:before {
  font-family: 'entypo';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

