// Imports -------------------------------------------------------------------
@import "compass";
@import "compass/reset";
@import "susy";
@import "mixins";

// Vertical Rhythm ---------------------------------------------------------

$base-font-size                 : 16px;
$base-line-height               : 24px;

// Susy Variables -------------------------------------------------------------
$total-columns: 8;
$column-width: 3em;
$gutter-width: .5em;
$grid-padding: $gutter-width;

// Colors ---------------------------------------------------------------------
$dark-grey        : rgba(0,0,0,0.7);
$light-grey       : rgba(0,0,0,0.5);
$lightest-grey    : rgba(0,0,0,0.2);

$yellow                         : #FFE76B;

$default-color                  : #6d6d6d;
$default-color-light            : rgba($default-color, 0.75);
$default-color-lighter          : rgba($default-color, 0.5);
$default-color-lightest         : rgba($default-color, 0.25);

$highlight-color                : rgb(90,60,110);

$link-color                     : #e53c3c;
$link-color-light               : lighten($link-color, 10%);
$link-color-alternate           : #42c2f7;
$link-color-alternate-light     : lighten($link-color-alternate, 10%);

$border-shadow                  : #3d3d3d;
$border-highlight               : #ccc;

// Fonts ---------------------------------------------------------------------
$default-font-family: "PT Sans", sans-serif;

@include font-face(
  'entypo',
  font-files(
    'entypo.woff', woff,
    'entypo.ttf', truetype,
    'entypo.svg#entypo', svg
  ),
  'entypo.eot',
  'normal',
  'normal'
);

[data-icon]:before {
  font-family: 'entypo';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

