@include establish-baseline;

* { 
    @include box-sizing(border-box); 
    word-wrap: break-word;
}

body {
  color: $default-color;
  font-family: $default-font-family;
  background: url('../images/content-bg.png') #eee;
}

form {
  .field {
    overflow: auto;
    clear: both;
    @include leader();
    @include trailer();
  }
}

input[type=radio] {
    float: left;
    line-height: 24px;
    display: inline;
    padding: 0;
    height: 24px;
    margin: 0 rhythm() 0 0;
}
input[type=checkbox] {
    margin: 0 rhythm() 0 0;
    display: inline-block;
    padding: 0;
    height: 24px;
    float: left;
    clear: both; 
}

label, .label {
  display: inline-block;
  @include trailer(.5);
}

fieldset {
  margin:0;
  padding:0;
  border:none;
}

select { 
  max-width: 100%; 
  display: inline-block;
  margin: 0 0 rhythm() 0;
}

input {
  padding: rhythm(0.5);
  font-family: $default-font-family;
  color: $default-color;
  &[type=text],
  &[type=search] {
  border:1px solid $default-color-lightest;
  height: 3em;
  width: 100%;
  }
}

.inputs { vertical-align: bottom; }

input[type=submit], button {
  @include button;
}

th, td {
  vertical-align: top;
}

/* Links */
a {

  text-decoration: none;

  &:link {
  color: $link-color;
  }

  &:visited {
  color: $link-color-light;
  }

  &:hover,
  &:active {
  color:$link-color-alternate;
  }

}

.button {
  background-color: $yellow;
  display: block;
  padding: rhythm(.5);
  margin: rhythm(1) 0;
  text-align: center;
  @include border-radius(6px);
}

/* -- Table -- */

table { @include leader(); }

th { font-weight: bold; }

td, th {
  border-color: $border-highlight;
  @include leading-border(1px, .5, $base-font-size, solid);
  padding-left: rhythm(.5);
  padding-right: rhythm(.5);
  @include padding-trailer(.5);
}

tr:last-of-type td {
  border-color: $border-highlight;
  @include trailing-border(1px, .5, $base-font-size, solid);
}


.pagination {
  display: inline-block;
  width: 100%;
  overflow: auto;
  margin: rhythm(.5) 0;
  vertical-align: bottom;
  list-style-type: none;
  padding-left: 0;
  li { 
    float: left; 
    @include adjust-font-size-to(12px);
  }
  
  .button { 
    float: left;
    margin: 0;
  }
  
  &:empty {
    margin: 0;
    padding: 0;
  }
}

.item + .pagination {
    border-color: $border-highlight;
    @include leading-border(1px, 1, $base-font-size, solid);
}

.pagination_previous a, .pagination_next a { 
    @include adjust-leading-to(.5, $base-line-height); 
    @include border-radius(0px);
}

.pagination > *:first-child a, .pagination > *:first-child  { @include border-radius(3px 0px 0px 3px); }

.pagination > *:last-child a { @include border-radius(0px 3px 3px 0px); }

.page-input { 
  background-color: #f7f7f7; 
  text-align: center;
  padding: 0 rhythm();
  
  input[type=text] { 
    background-color: #f7f7f7; 
    border: 0; 
    margin: 0;
    padding: 0;
    height: auto;
    @include adjust-font-size-to(16px);
    @include adjust-leading-to(.5); 
    width: 50px;
    text-align: center;
    border-color: #ccc;
    @include trailing-border(2px, 0, $base-font-size, dotted);
  }
}

h1 {
  @include adjust-font-size-to(24px);
  line-height: $base-line-height;
  font-weight:bold;
}

h2 {
  @include adjust-font-size-to(20px);  
  line-height: $base-line-height;
  margin: $base-line-height 0;
  font-family: 'Titillium Web', sans-serif;
}

h3 {
  @include adjust-font-size-to(18px);
  line-height: $base-line-height;
  margin-bottom: $base-line-height;
  font-weight:bold;
  color: $default-color-light;
  line-height: $base-line-height;
}

h4 {
  font-weight:bold;
}

h5 {
  font-style:italic;
}

h6 {
  font-style:italic;
  color: $default-color-lighter;
}

p { @include trailer(); }

ul {
    padding-left: rhythm();
    list-style-type: disc;
}

a { text-decoration:none; }

/* Responsive images */
img {
  max-width: 100%;
  width: auto;
  height: auto;
}

/* Header */
header {
  background: url('../images/bg.png') #b30000;
  overflow: auto;
}

#site-title {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5 * $base-font-size; 
  line-height: $base-line-height;
  font-weight: normal;
  padding: rhythm(1) 0;
  text-align: center;
  a { 
      color: #f8f8f8; 
      display: inline-block;
      width: 100%;
  }
}

#top-nav {
  display: block;
  clear: both;
  background: #2d2d2d;
  overflow: auto;

  & > a { 
      height: 16px;
      display: inline-block;
      padding: 10px 5px;
      width: 25px;
      overflow: hidden;
      float: right;
      position: relative;
      margin: rhythm(.125) 0;
      @include box-sizing(content-box);
      
      span { 
          position: absolute;
          top: 3px;
      }
  }

  .icon-search { 
      font-size: 24px;
      line-height: 32px;
      margin-right: rhythm(1);
      
      [data-icon] { 
        top: 6px;
        left: 10px;
      }
  }
  
  .icon-menu { 
      font-size: 32px;
      vertical-align: top;
      
      [data-icon] { left: 7px;}
  }
  
  #search-container, #menu-container { display: none; }
  
  #menu-container { 
    clear: both; 
    @include padding-trailer(.25);
    border-color: $border-shadow;
    @include leading-border(1px, .25, $base-font-size, solid);
  }

  #menu-container > ul { 
    clear: both;
    padding: 0; 
    text-align: left;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    list-style-type: none;

    & > li > a { 
        color: $link-color-alternate; 
    }

    ul { 
        text-transform:capitalize;
        padding-left: rhythm(1);
        list-style-type: none;
                
        a { padding-left: rhythm(1); }
    }
  } 
  
  li {
    padding: 0;
    
    a { 
        padding: rhythm(.5) rhythm(1);
        display: inline-block;
        width: 100%;
    }
  }
  
  a { 
    color: #f8f8f8;
    letter-spacing: 1px;;
    text-decoration: none; 
  }
}

#search-container {
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding: 0 rhythm(1) rhythm(1) rhythm(1);
  border-color: $border-shadow;
  @include leading-border(1px, 1, $base-font-size, solid);
  
  label { 
    display: block; 
    clear: both;
    margin-bottom: 0;
  }
  
  input[type=submit] {
    padding: rhythm(.25);
    line-height: $base-line-height;
    border: 0;
    font-size: 1em;
    float: left;
    width: 35%;
    background-color: $yellow;
    margin: 0;
    vertical-align: top;
    @include border-radius(0px 3px 3px 0px);
  }
}

#query {
  border: 0;
  font-size: $base-font-size;
  line-height: $base-line-height;
  display: inline-block;
  padding: rhythm(.25);
  height: rhythm(1.5);
  float: left;
  width: 65%;
  margin: 0;
  vertical-align: top;
  @include border-radius(3px 0px 0px 3px);
}

#query-types, #record-types { @include trailer(); }

#record-types label { 
  @include trailer(); 
  &:last-child { @include trailer(0); }
}

a#advanced-search {
  width: 100%;
  clear: both;
  color: $link-color;
  padding: rhythm(.25);
  display: inline-block;
  margin: rhythm(.5) 0 0 0;
  @include border-radius(3px);
}

#advanced-form {
  text-align: left;
  color: #fff;
  @include leader();
  
  a { color: $link-color; }
  
  & > *:last-child { margin-bottom: 0; }
}

#intro {
  text-align: center;
  margin: 0;
  padding: 0 0 rhythm(1) 0;
  
  p:only-of-type { margin-bottom: 0; }
}

#featured-item {
  background-color: #606060;
  background-size: cover;
  background-position: center center;
  display: block;
  overflow: auto;
  
  * { color: #fff; }
  
  h2 { 
      margin: 0;
      @include adjust-font-size-to(27px); 
  }
  
  h3 { margin: 0; }
  
  a {
    color: #fff;
    font-weight: bold;
    vertical-align: bottom;
    img { width: 35%; vertical-align: bottom; }
  }
  .item-description { display: none; }
  
  .shadow { padding: rhythm(2) rhythm(1); }
}

.shadow {
    background-image: url('../images/gradient.png');
    background-size: contain;
    width: 100%;
    overflow: auto;
}

#featured-collection, #featured-exhibit {
  background-color: #2d2d2d;
  color: #f8f8f8;
  border-color: $border-shadow;
  padding: rhythm(1);
  @include trailing-border(1px, 1, $base-font-size, solid);

  h2 { 
    margin: 0;
  }

  h3, p { 
      margin: 0;
      line-height: 2 * $base-line-height;
  }

  a { color: #fff; }

  .collection-description { display: none; }
}

#home #recent-items {
  padding: 0;
  margin: 0;
  
  .items-list { margin: 0; }
  
  h2 { 
    margin: $base-line-height 0;
  }
  
  h3, .item-description {
    margin: 0 0 $base-line-height 0;
    @include adjust-font-size-to(16px);
  }

  div { 
    margin: 0; 
  }
  
  .item {
    clear: both;
    overflow: auto;
    padding: 0;
    border-color: $border-highlight;
    @include leading-border(1px,1,$base-font-size, solid);

    img { 
      width: 120px;
      height: auto;
      float: left;
      margin: 0 rhythm(1) 0 0;
    }  
  }

  .view-items-link {
    border-color: $border-highlight;
    @include leading-border(1px,1,$base-font-size, solid);
  }
  
  .view-items-link a {
    margin-top: 0;
  }
}

[role="main"] {
  padding: rhythm(1);
  
  h1 { 
    @include adjust-font-size-to(24px); 
    @include adjust-leading-to(1, 24px);
    @include trailer(.5, 24px);
  }
}

.element {
  @include trailer(1.5);
  
  h3 { 
      margin-bottom: .5 * $base-line-height;
  }
}

.download-file img {
    height: 4 * $base-line-height;
    vertical-align: bottom;
}

.collection {
    border-color: $border-highlight;
    @include trailing-border(1px, 1, $base-font-size, solid);
    
    .view-items-link { margin-bottom: 0; }
}

.collection:last-of-type { @include trailing-border(0px, 1, $base-font-size, solid); }

.items.browse {
  
  h2 {
    @include adjust-font-size-to(18px);
    line-height: $base-line-height;
    margin: 0 0 $base-line-height 0;
  }
  
  .item {
    border-color: $border-highlight;
    overflow: auto;
    @include leading-border(1px, 1, $base-font-size, solid);
    
  }
  
  .item-meta {
    overflow: auto;

    & > div { margin-bottom: $base-line-height; }

    .item-img { margin-bottom: 0; }
  }
  
}

.item-img {
  float: left;

  a { 
    width: rhythm(5);
    margin: 0 rhythm(1) rhythm(1) 0;
    display: inline-block; 
    vertical-align: bottom;
  }

  img {
    width: rhythm(5);
    height: auto;
    vertical-align: bottom;
  }
}

.items-nav, .exhibits #secondary-nav {
  background-color: #dfdfdf; 
  @include border-radius(3px);
  padding-left: 10px;
  @include adjust-font-size-to(14px);
  @include leader();
  @include trailer();
  float: left;
  width: 100%;
  margin: (.5 * $base-line-height) 0;
  ul {
    list-style-type: none; 
    padding-left: 0;
  }
  li {
    float: left;
    margin-right: 10px; 
  }
  .active { font-weight: bold; }
}

.item-pagination {
  list-style-type: none;
  padding-left: 0;
  
  a { @include button; }
}

.sort-label { display: none; }

#sort-links-list {
  @include adjust-font-size-to(14px);
  display: inline-block;
  margin: (.5 * $base-line-height) 0;
  vertical-align: bottom;
  list-style-type: none;
  padding-left: 0;

  li {
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid $border-highlight;

    &:last-of-type { border-right: 0; }
    
    &.sorting { font-weight: bold; }
    
    &.sorting a:after {
      font-family: "entypo";
      margin-left: 3px;
      line-height: 100%;
    }
    
    &.asc a:after { content: "\e008"; }

    &.desc a:after { content: "\e007"; }
  } 
}

.hTagcloud ul {
  list-style-type: none;
  padding: rhythm(.5) 0 0 0;
  overflow: auto;
  clear: both;
  
  li {
    margin: 0 rhythm(.5) rhythm(.5) 0;
    float: left;
    
    a { 
      padding: rhythm(.25) rhythm(.5); 
      background: url('../images/bg.png') #b30000;
      overflow: auto;
      float: left;
      @include border-radius(3px);
    }
    
    a:link, a:visited { 
      color: #fff; 
    }
  }
}

#collection-items .item {
    @include trailer(1);
    border-color: $border-highlight;
    @include trailing-border(1px, 1, $base-font-size, solid);
}

#collection-items h2 + .item {
    @include leading-border(1px, 1, $base-font-size, solid);
}

.collections .element-set {
    @include trailer(1.5);
}

#itemfiles {
  overflow: auto;
  img {
    float: left;
    margin-right: rhythm(1);
    @include trailer(.5);
  }
}

#advanced-search-form {
  overflow: auto;
  clear: both;
}

#search-filters ul {
  list-style-type: none;
  padding-left: 0;
  overflow: auto;
  li { 
    background-color: #dfdfdf; 
    @include border-radius(3px);
    float: left; 
    padding: 0 5px;
    margin: 0 rhythm(.5) rhythm(.5) 0;
    ul {
      display: inline;
      li {
        margin: 0;
        padding: 0;
        float: none;
        display: inline;
        &:after {
          content: ", ";
        }
        &:last-child:after {
          content: "";
        }
      }
    }
  }
}

.exhibits .pagination:empty { 
  margin: 0 0 rhythm(1);
  padding: 0;
  float: left;
}

.exhibit { clear: both; }

footer nav { display: none; }

footer[role=contentinfo] {
  @include adjust-font-size-to(14px);
  padding: $base-line-height;
}
