* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@include establish-baseline;

body {
  color: $default-color;
  font-family: $default-font-family;
}

fieldset {
  margin:0;
  padding:0;
  border:none;
}

/* Links */
a {

  &:link {
    color: $link-color;
  }

  &:visited {
    color: $link-color-light;
  }

  &:hover,
  &:active {
    color:$link-color-alternate;
  }

}

#{headings(1,6)} {

  a {
    text-decoration:none;
  }

}

/* Responsive images */
img {
  max-width: 100%;
  width: auto;
  height: auto;
}

